<div class="container center">
    <div class="contend">
        <div class="banner">
        </div>
        <div class="containerInfoProduct">      
       
            <div class="titleProduct">
                <h2>Lorem, ipsum dolor.</h2>                
            </div>
            <div class="infoProduct">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laboriosam eius sed accusantium
                quisquam eos dignissimos eaque ipsum nemo explicabo.
            </div>
            <div class="addProduct">
                <button mat-raised-button id="menos" type="button">-</button>
                <input type="text" id="contador" value="1" min="1"/>
                <button mat-raised-button id="mas" type="button">+</button>
            </div>
            <div class="addInfo">
                <input type="text" placeholder="nota (opcional)"/>
            </div>
            <div class="footer">
                <button mat-flat-button class="addProductButton">Agregar al pedido</button>
            </div>
        </div>

    </div>
    </div>
