<div class="container center">
    <div class="contend">
        <div class="banner">                
        </div>
        <div class="circle">                
        </div>

        <div class="flexbox">      
        <div class="info center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sint nam totam reiciendis, laudantium ipsum iusto facilis incidunt maiores optio ad ducimus ratione? 
        </div>
        <div class="enter p20 center">
            <button mat-raised-button routerLink="/menu">Enter</button>
        </div>
        <div class="contendButton">
            <button mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <button mat-mini-fab aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
        </div>
        <div class="footer center p20">
            2023 Se reserva el derecho de tu puta madre en bicicleta 
        </div>
      </div>

    </div>   
</div>   
